* {
  font-family: "Kanit", sans-serif;
  color: aliceblue;
}

.hidden {
  display: none;
}

#wrapTop {
  display: flex;
  justify-content: space-between;
}

#weather span {
  display: block;
}

#quote span {
  display: block;
}

#clock {
  margin: 0;
  text-align: center;
  font-size: 10em;
  padding: 0%;
}

#login-form {
  text-align: center;
}

input:focus {
  color: gray;
}

#greeting {
  margin: 0%;
  text-align: center;
  font-size: 3em;
}
#todo {
  margin-top: 10px;
  text-align: center;
}

#todo-list {
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 50%;
  margin: auto;
}

#todo-list li {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}

li span {
  margin-right: auto;
}
li button {
  margin-right: 10px;
}

#dday-div {
  justify-content: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
}
#dday-div span {
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
